<a href="https://colab.research.google.com/github/noorulhudaaaa/Python-AI-Chatbot-Bootcamp-WPBrigade-iCodeGuru/blob/main/Day%202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dictionaries

A **dictionary** in Python is a built-in data structure that stores data in **key-value pairs**.  
- Each **key** acts as a unique identifier for its **value**.  
- Keys must be immutable types (e.g., strings, numbers, tuples containing only immutable items).
- "Immutable" means something that cannot be changed or modified after it is created.
- Values can be of any data type.  

In programming, an immutable object is one whose value cannot be altered once assigned. If you try to change it, a new object is created instead of modifying the existing one.


**Example:**
```python
student = {
    "name": "Noor",
    "age": 24,
    "grade": "C"
}

## Properties of Dictionaries

| Property                               | Description |
|----------------------------------------|-------------|
| **Preserve Insertion Order** (Python ≥ 3.7) | Maintains the order in which items are inserted. |
| **Mutable**                            | Can add, update, or remove items after creation. |
| **Indexed by Keys**                    | Values are accessed using keys, not numeric indices. |
| **Keys Must Be Unique**                | Duplicate keys overwrite existing values. |
| **Keys Must Be Immutable**             | Keys can be strings, numbers, or tuples containing only immutable elements. |
| **Values Can Be Any Data Type**        | Values can be strings, numbers, lists, dictionaries, etc. |

## Creating and Accessing a Dictionary

In [4]:
# Creating a dictionary

person = {
    "name": "Noor",    # key: "name", value: "Noor"
    "age": 24,        # key: "age", value: 24
    "grade": "C",      # key: "grade", value: "C"
    "city": "Rawalpindi"   # key: "city", value: "Rawalpidi"
}

# Accessing values using keys
# Printing them
print(person["name"])
print(person["age"])
print(person["grade"])
print(person["city"])

Noor
24
C
Rawalpindi

## Addition/Modification

In [8]:
# Creating a dictionary
person = {
    "name": "Noor",
    "age": 24,
    "grade": "C",
    "city": "Rawalpindi"

}

# Printing dictionary
print("Original Dictionary: ", person)
print()

# Adding a new key-value pair
person["country"] = "Pakistan"

# Modify an existing value
person["city"] = "Islamabad"

print("Updated Dictionary: ", person)

Original Dictionary:  {'name': 'Noor', 'age': 24, 'grade': 'C', 'city': 'Rawalpindi'}

Updated Dictionary:  {'name': 'Noor', 'age': 24, 'grade': 'C', 'city': 'Islamabad', 'country': 'Pakistan'}

## Removing

In [17]:
# Creating a dictionary
person = {
    "name": "Noor",
    "age": 24,
    "grade": "C",
    "city": "Rawalpindi"

}

print("Original Dictionary: ", person)
print()

# The del keyword deletes the desired key value pair without returning the value.
# If the key does not exist, it raises a KeyError.
# Deleting age key
del person["age"]

print("Updated Dictionary after deletion: ", person)
print()

# Using pop() method
# Removes a key-value pair but also returns the value.
# It can take a default value to return if the key doesn’t exist (avoids KeyError).

removed_city = person.pop("city", "Not Found")
print("Removed city:", removed_city)

# student.pop("city", "Not Found")
# Looks for "city" in the dictionary.
# If found → removes it and returns its value.
# If not found → returns "Not Found" (the default value provided).

# Now if we want to remove city again when it already does not exist
removed_city = person.pop("city", "Not Found")
print("Removed city:", removed_city)
print()

print("Final Dictionary: ", person)

Original Dictionary:  {'name': 'Noor', 'age': 24, 'grade': 'C', 'city': 'Rawalpindi'}

Updated Dictionary after deletion:  {'name': 'Noor', 'grade': 'C', 'city': 'Rawalpindi'}

Removed city: Rawalpindi
Removed city: Not Found

Final Dictionary:  {'name': 'Noor', 'grade': 'C'}

## Dictionary of Lists

In [20]:
# A dictionary where each value is a list
grades = {
    "Noor": [85, 90, 88],
    "Amna": [78, 82, 91],
    "Ayesha": [92, 88, 95]
}

print(grades)

{'Noor': [85, 90, 88], 'Amna': [78, 82, 91], 'Ayesha': [92, 88, 95]}

In [25]:
# Mutable key example
student = {}

# Trying to use a list as a key
student[["first", "last"]] = "Noor", "Ulhuda"

# Keys must be immutable: strings, numbers, or tuples that contain only immutable elements.

''' Why It Happens

Python dictionaries and sets use hashing to store and find elements quickly.

Only immutable (unchangeable) objects can be hashed.

Lists can change (items can be added, removed, or modified), so Python cannot use them as keys.
'''

TypeError: unhashable type: 'list'

# For Loop in Python
A **`for` loop** in Python is used to **iterate** over a sequence (such as a list, tuple, dictionary, string, or range of numbers) and execute a block of code **once for each item** in the sequence.

Unlike some other programming languages where `for` loops use a counter by default, Python’s `for` loop works directly with **iterable objects**.



### **Syntax**
```python
for variable in sequence:
    # Code block to execute

## Loop Through a List

In [29]:
# Making a list
fruits = ["apple", "banana", "cherry", "watermelon", "mango"]

# For loop to print each item in the list
# Can use any variable instead of 'i'
for i in fruits:
    print(i)

apple
banana
cherry
watermelon
mango

In [30]:
# Making a list
fruits = ["apple", "banana", "cherry", "watermelon", "mango"]

# using vegetable variable here
for vegetable in fruits:
    print(vegetable)

apple
banana
cherry
watermelon
mango

## Using range()

In [36]:
# Using range to iterate and print btw numbers
# 1-10 means, starting from 1 and ending at 9, the last number isnt printed

for i in range(1,10):
    print(i)
print()

# setting index to 5, so it starts from 5
a = 5
for i in range(a, 10):
    print(i)

1
2
3
4
5
6
7
8
9

5
6
7
8
9

## Loop Through a String

In [39]:
# Taking a string and printing each character in it
for a in "Python":
    print(a)
print()

# defining the string first
name = "Noor ul Huda"
for i in name:
  print(i)

P
y
t
h
o
n

N
o
o
r

u
l

H
u
d
a

In [ ]:
for m in "Python":
    print(m)

P
y
t
h
o
n

## Loop with Condition (Even Numbers)

In [45]:
# for loop for even

print("Even Numbers between 1 and 15:")

for i in range(1, 15):
  if i % 2 == 0:                  # condition
        print(i)

Even Numbers between 1 and 15:
2
4
6
8
10
12
14

## Loop Through a Dictionary

In [52]:
# Making list
person = {"name": "Noor", "age": 24, "grade": "C", "city": "Rawalpindi"}

# items() in Python returns all the key-value pairs in the dictionary as tuple pairs.
# key gives keys and value give their values

for key, value in person.items():
    print(f"My {key} is {value}")

My name is Noor
My age is 24
My grade is C
My city is Rawalpindi

## Nested for Loops

In [56]:
# Loops inside loops
# Taking range till 4 means from 1-3

for i in range(1, 4):
    for j in range(1, 3):
        print(f"i={i}, j={j}")

i=1, j=1
i=1, j=2
i=2, j=1
i=2, j=2
i=3, j=1
i=3, j=2

## For Loop `break`, `continue` and `pass`

range(6) → generates numbers from 0 to 5. the starting is always 0 when not defined.

if i == 3: pass → prints 3 and moves to the next iteration.

if i == 2: continue → skips printing 2 and moves to the next iteration.

if i == 5: break → stops the loop entirely when i reaches 5.

print(i) → prints the value if neither condition is triggered.

In [58]:
# Taking range 6, means 1-5 numbers
for i in range(6):
    if i == 1:
        pass  # move forward when i is 1
    if i == 3:
        continue  # Skip when i is 2, wont print 3
    if i == 5:
        break     # Stop the loop when i is 5
    print(i)

0
1
2
4

## Nested For Loops — Multiplication Table

In [63]:
# Generate a 7x7 multiplication table

for i in range(1, 8):           # Outer loop for rows
    for j in range(1, 8):       # Inner loop for columns
        print(i * j, end="\t")  # \t adds tab space for alignment
    print()  # Move to the next line after each row

1	2	3	4	5	6	7
2	4	6	8	10	12	14
3	6	9	12	15	18	21
4	8	12	16	20	24	28
5	10	15	20	25	30	35
6	12	18	24	30	36	42
7	14	21	28	35	42	49

# **`range()` Function**

The `range()` function generates a sequence of numbers, often used in `for` loops.

**Syntax:**
```python
range(start, stop, step)
```
Parameters:

start (optional) – The starting value of the sequence (default: 0).

stop (required) – The number one past the last value in the sequence.

step (optional) – The increment between each number (default: 1). Can be negative.

## Counting Up

In [64]:
# Print numbers from 1 to 7
for i in range(1, 8):
    print(i)

1
2
3
4
5
6
7

## Counting Down

In [68]:
# Print numbers from 5 down to 1, -1 reverses the number
for i in range(5, 0, -1):
    print(i)

5
4
3
2
1

## Multiplication Table

In [70]:
# Print the 8 times table
for i in range(1, 11):
    print(f"8 x {i} = {8*i}")

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

# Python Functions
A **function** in Python is a block of reusable code that performs a specific task.  
It helps organize code, avoid repetition, and make programs more readable.

---

## **Function Syntax**
```python
def function_name(parameters):
    """Optional docstring explaining the function."""
    # Code block
    return value
```
def → Keyword to define a function

function_name → Name you choose for your function

parameters → Inputs to the function (optional)

return → Value the function sends back (optional)

## Function Without Parameters

In [73]:
# creating a function greet
def greet():
    print("Hello! Noor here!")

# Calling the function
greet()

Hello! Noor here!

## Function With Parameters

In [74]:
# Creating a function
def greet(name):
    print(f"Hello, {name}!")

greet("Noor")

Hello, Noor!

In [76]:
# Creating function for addition of 2 numbers
def addition(a, b):
    return a + b

result = addition(7, 9)
print(result)

16

In [83]:
# Assigning value to variable
def greet(name = "Guest", age = 24):
    print(f"Hello, {name}! Are you {age} years old?")

greet()

# This will update the value for name and age
greet("Noor", 25)

Hello, Guest! Are you 24 years old?
Hello, Noor! Are you 25 years old?

In [88]:
# Creating a function for calculation of two numbers
def calculate(a, b):
   return a+b, a-b

s, d = calculate(18, 7)
print("Sum:", s)
print("Difference:", d)
print()

# OR
def calculate(a, b):
    sumNum = a + b
    diffNum = a - b
    return sumNum, diffNum

s, d = calculate(15, 8)
print("Sum:", s)
print("Difference:", d)

Sum: 25
Difference: 11

Sum: 23
Difference: 7

## Python Built-in Functions

Python comes with **built-in functions** that you can use without importing any module.  
These are always available in Python.

---

## Commonly Used Built-in Functions

| Function | Description | Example |
|----------|-------------|---------|
| `print()` | Displays output to the screen | `print("Hello")` → `Hello` |
| `len()` | Returns the length of an object | `len("Python")` → `6` |
| `type()` | Returns the type of an object | `type(5)` → `<class 'int'>` |
| `int()` | Converts to an integer | `int(3.9)` → `3` |
| `float()` | Converts to a float | `float(3)` → `3.0` |
| `str()` | Converts to a string | `str(123)` → `"123"` |
| `abs()` | Returns absolute value | `abs(-7)` → `7` |
| `sum()` | Returns sum of an iterable | `sum([1,2,3])` → `6` |
| `max()` | Returns the largest value | `max(2,5,1)` → `5` |
| `min()` | Returns the smallest value | `min(2,5,1)` → `1` |
| `round()` | Rounds a number | `round(3.1416, 2)` → `3.14` |
| `sorted()` | Returns a sorted list | `sorted([3,1,2])` → `[1,2,3]` |
| `range()` | Generates a sequence of numbers | `list(range(3))` → `[0,1,2]` |
| `input()` | Reads user input as a string | `name = input("Enter name: ")` |
| `help()` | Displays documentation | `help(len)` |
| `dir()` | Lists attributes of an object | `dir(str)` |

---

##  Example Code
```python
numbers = [4, 7, 1, 9, 3]

print("Length:", len(numbers))
print("Max:", max(numbers))
print("Min:", min(numbers))
print("Sum:", sum(numbers))
print("Sorted:", sorted(numbers))

# Python Lambda Functions
A **lambda function** is a small, anonymous (unnamed) function in Python.  
It can have any number of arguments but only **one expression**.  

---


```python
lambda arguments: expression
```

## Syntax
- Lambda functions can be written in **one line**.
- No need to define a separate function with `def` when it’s only used once.

```python
square = lambda x: x**2
print(square(5))  # 25
```

## Examples

In [89]:
# square of 7
square = lambda x: x**2
print(square(7))

49

In [90]:
# Addition of 2 numbers
add = lambda a, b: a + b
print(add(5, 8))

13

In [93]:
# Addition of 3 numbers minus 4th number
addition = lambda a, b, c, d : a + b + c - d
print(addition(15, 7, 12, 8))

26

In [102]:
# Square of all numbers in list
# Creating a list of 4 numbers

num = [4, 5, 6, 7]

square = map(lambda x: x**2, num)
print(list(square))

[16, 25, 36, 49]

In [107]:
# Creating a list of 5 numbers
nums = [10, 15, 20, 25, 30]

even_nums = filter(lambda x: x % 2 == 0, nums)
print(list(even_nums))

[10, 20, 30]

# List Comprehensions

- List comprehensions provide a **concise and readable** way to create lists in Python.  
- They allow you to **generate a new list** by applying an expression to each item in an existing iterable (like a list, tuple, string, or range), optionally including a condition.



### **Syntax**
```python
[expression for item in iterable if condition]
```

expression → The value or transformation to include in the new list.

item → Variable that takes each value from the iterable.

iterable → A sequence (like a list, tuple, string, or range) to iterate over.

condition (optional) → Filters which items are processed.

## Basic Transformation

In [108]:
# Creating a list
numbers = [2, 4, 6, 8, 10]

# list comprehension
squares = [i**2 for i in numbers]
print(squares)

[4, 16, 36, 64, 100]

## With Condition (Filtering)

In [109]:
# Creating a list
numbers = [1, 2, 3, 4, 5, 6]

# list comprehension with condition
even_numbers = [i for i in numbers if i % 2 == 0]
print(even_numbers)

[2, 4, 6]

In [115]:
# Creating a list
numbers = [1, 2, 3, 4, 5, 6, 7, 8 , 9 , 10]

# list comprehension with condition - oly finding squres of even numbers
even_numbers = [i**2 for i in numbers if i % 2 == 0]
print(even_numbers)

[4, 16, 36, 64, 100]

## Uses of List Comprehensions

###  Concise and Readable Code
- Allows creating new lists in a **single line**.
- Eliminates the need for multi-line `for` loops with `append()`.

```python
# Traditional
squares = []
for n in range(5):
    squares.append(n**2)

# List comprehension
squares = [n**2 for n in range(5)]
```

### Combines Transformation and Filtering
- Transform items and filter them in the same expression.

```python

even_squares = [n**2 for n in range(10) if n % 2 == 0]
print(even_squares)  # [0, 4, 16, 36, 64]
```

#  Python Exception Handling
- Exceptions are **errors** that occur during program execution.
- Exception handling allows your program to **continue running** instead of crashing.
- In Python, exceptions are handled using `try`, `except`, `else`, and `finally`.

## **Syntax**
```python
try:
    # Code that may raise an exception
except ExceptionType:
    # Code to handle the exception
else:
    # Code to run if no exception occurs (optional)
finally:
    # Code that runs no matter what (optional)
```

## Practice

In [118]:
# If you enter anything other than number

try:
    num = int(input("Please enter a number: "))
    print("You entered:", num)
except ValueError:
    print("That is not a valid number!")

Please enter a number: noor
That is not a valid number!

In [119]:
# If you enter anything other than number or divide by zero

try:
    x = int(input("Please enter numerator: "))
    y = int(input("Please enter the denominator: "))
    result = x / y
    print("Result: ", result)
except ValueError:
  print("Invalid number entered!")
except ZeroDivisionError:
  print("Cannot divide by zero!")

Please enter numerator: 4
Please enter the denominator: 0
Cannot divide by zero

In [123]:

try:
    num = int(input("Enter a number: "))
except ValueError:
    print("Invalid number!")
else:
    print("You entered:", num)

Enter a number: asl
Invalid number!

In [128]:
try:
    f = open("test.txt", "w")
    f.write("Hello")
except Exception as e:
    print("Error:", e)
finally:
    f.close()
    print("File closed.")

File closed.

## Uses of Exception Handling

###  Prevent Program Crashes
- Without exception handling, an error stops the entire program.
- Using `try...except` allows the program to **continue running** even if an error occurs.

```python
try:
    num = int(input("Enter a number: "))
    print(10 / num)
except ZeroDivisionError:
    print("You cannot divide by zero.")
```

### Provide User-Friendly Error Messages
Replace technical error messages with clear, helpful feedback.

```python
try:
    file = open("data.txt")
except FileNotFoundError:
    print("File not found. Please check the file name.")
```

### Handle Specific Error Types
Catch different exceptions and handle them differently.

```python
try:
    num = int("abc")
except ValueError:
    print("Invalid number format.")
```

### Ensure Cleanup Actions
The finally block runs whether an error occurs or not — useful for closing files, releasing resources, or cleaning temporary data.

```python
try:
    file = open("data.txt")
    # Do something with the file
finally:
    file.close()
```