# Comments

- Comments can be used to explain Python code.
- They can be used to make the code more readable and to prevent execution when testing code.

In [ ]:
# this is a comment
# Now we will make a list

''' this is a multi line comment
can add as many lines as you want
and when you want to end the comment, close it with 3 '

'''

" this is a multi line comment\ncan add as many lines as you want \nand when you want to end the comment, close it with 3 '\n\n"

# DataTypes and Variables

In [1]:
a= 3
b = 5.09
name = "Noor"
carStopped = True

print(a)
print(b)
print(name)
print(carStopped)

3
5.09
Noor
True

## Python Data Types

**Text:** `str` â†’ `"Hello"`

**Numeric:** `int` â†’ `10`, `float` â†’ `3.14`, `complex` â†’ `2 + 3j`

**Sequence:** `list` â†’ `[1, 2]`, `tuple` â†’ `(1, 2)`, `range` â†’ `range(3)`

**Mapping:** `dict` â†’ `{"a": 1}`

**Set:** `set` â†’ `{1, 2}`, `frozenset` â†’ `frozenset({1, 2})`

**Boolean:** `bool` â†’ `True`, `False`

**Binary:** `bytes` â†’ `b"hi"`, `bytearray` â†’ `bytearray(b"hi")`, `memoryview` â†’ `memoryview(b"hi")`

**None:** `NoneType` â†’ `None`

In [2]:
a = 7
b = 78.90
c = 8j

name = "Noor"
grade = 'A'

carStopped = False

print(type(a))
print(type(b))
print(type(c))
print(type(name))
print(type(name))
print(type(carStopped))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'str'>
<class 'bool'>

## Python Variables

- Variables are containers for storing data values.
- A variable is created the moment you first assign a value to it.
- Variable names are case-sensitive.

In [5]:
# Assigning value to a variable

a = 9
A = 876.98

# A will not overwrite a because both a and A are different and can store different values

print("Value in a: ", a)
print("Value in A: ", A)

Value in a:  9
Value in A:  876.98

## Variable Names

A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume).

## Rules for Python variables:

* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (name, Name and NAME are three different variables)
* A variable name cannot be any of the Python keywords.

In [9]:
# Variables can me made this way

myname = "Noor"
my_name = "Noor"
_my_name = "Noor"
myName = "Noor"
MYNAME = "Noor"
myname1 = "Noor"

print(myname)
print(my_name)
print(_my_name)
print(myName)
print(MYNAME)
print(myname1)

Noor
Noor
Noor
Noor
Noor
Noor

In [12]:
# Cannot make a variable starting from a number, so when you make one, it shows error

6myname = "Noor"

SyntaxError: invalid decimal literal (ipython-input-238682010.py, line 3)

## Multi Words Variable Names

Variable names with more than one word can be difficult to read.

There are several techniques you can use to make them more readable:
* Camel Case - First word lowercase, each new word capitalized
* Pascal Case - Each word starts with a capital letter
* Snake Case - All lowercase, words separated by underscores

In [ ]:
myName â†’ camelCase

MyName â†’ PascalCase

my_name â†’ snake_case

In [19]:
# We can also assign values to multiple variables in one line, altogether and then print them altogether

a, b, c = "Red", "Green", "Blue"

print(a, b, c )
print(a)
print(b)
print(c)

Red Green Blue
Red
Green
Blue

##Printing variables and Input
* The Python print() function is mostly used to output/print the variables.

In [30]:
# Taking variables

a = "My"
b = "Name"
c = "is"
d = "Noor"

# Printing them together
print(a, b, c, d)

# We can also use the + operator to print multiple variables:
a = "I"
b = "am"
c = "from"
d = "Rawalpindi"

# Printing them together by using the + operator
print(a + b + c + d)

#For numbers, the + character works as a mathematical operator:
a = 8
b = 9
c = 2

# Printing the output of both after addition
print(a + b + c)

# When we combine a string and a number with the + operator, Python will give you an error.
# To avoid this we use commas instead of + operator
'''
a = 7
b = "Noor"

# Printing
print(a + b)

'''

# Now doing the same using comma
a = 7
b = "Noor"

print(a, b)

My Name is Noor
IamfromRawalpindi
19
7 Noor

In [34]:
# Now, taking input from the user using "input"

myNum = 15

# Will tale input from user and convert it into int, as it will otherwise take it as string because we used inverted commas
myAge = int(input("Please enter your age: "))

# storing the sum of the age and myNum in result
result = myNum + myAge

# Printing
print("My result is:" , result)

Please enter your age: 34
My result is: 49

## Type Casting

- If you want to specify the data type of a variable, this can be done with type casting.
- It changes the data type.

In [38]:
# Taking to variables

a = 456
b = 39.6

# Printing the type for variable a
print(type(a))
print("Before Type Casting: ", a)

# Type casting to change the type of "a" from int to float
c = float(a)

# Printing the type and value of "a" after type casting
print(type(c))
print("After Type Casting: ", c)

<class 'int'>
Before Type Casting:  456
<class 'float'>
After Type Casting:  456.0

# **Operators**

**Arithmetic:** `+` (add), `-` (sub), `*` (mul), `/` (div), `%` (mod), `**` (exp), `//` (floor div)

**Comparison:** `==` (equal), `!=` (not equal), `>` (greater), `<` (less), `>=`, `<=`

**Logical:** `and`, `or`, `not`

In [42]:
# Taking two numbers
num1 = 50
num2 = 30

# Arthematic Operations

print("Addtion of two: ", num1 + num2)

print("Subtraction of two: ", num1 - num2)

print("Multiplication of two: ", num1 * num2)

print("Division on two: ", num1 / num2)

print("Mod of two: ", num2 % num1)

print("Floor Div of two: ", num1 // num2)

print("Power: ", num1 ** 3)

Addtion of two:  80
Subtraction of two:  20
Multiplication of two:  1500
Division on two:  1.6666666666666667
Mod of two:  30
Floor Div of two:  1
Power:  125000

In [43]:
# Taking two variables

var1 = True
var2 = False


# Logical Operators
# AND
print("AND: ", var1 and var2)

#OR
print("OR: ", var1 or var2)

#NOT
print("NOT: ", not var2)

AND:  False
OR:  True
NOT:  True

In [46]:
# Taking 3 variables
number1  = 30
number2 = 40
number3 = 30

# Comparison Operators

print("num1 and num2 are equal? ", number1 == number2)

print("num1 and num2 are not equal?: ", number1 != number2)

print("num1 is less than equal to num 2?", number1 <= number2)

print("num1 is greater than equal to num3?", number1 >= number3)

num1 and num2 are equal?  False
num1 and num2 are not equal?:  True
num1 is less than equal to num 2? True
num1 is greater than equal to num3? True

# **Conditional Statements**

**Conditional statements help your program make decisions.**

In [2]:
# Taking a temperature variable and giving it a value

temperature = 42

# Condition

if temperature > 25:
    print("It's hot outside! Please stay at home")
else:
  print("It's cold outside! Go out and have fun")

It's hot outside! Please stay at home

## Types of Conditional Statements

**if statement** â€“ Runs a block of code if a condition is true.

**if-else statement** â€“ Runs one block if true, another if false.

**if-elif-else chain** â€“ Checks multiple conditions in order.

**Using If - Else**

In [4]:
# IF Statement
# Taking value for age from user

age = int(input("Enter your age: "))


# Condition
if age >= 18:
    print("You are eligible for vote!")
else:
    print("You are not eligible for voting!")

Enter your age: 34
You are eligible for vote!

In [7]:
# Another Example
# Taking GPA input from user
CGPA = float(input("Please Enter Your GPA: "))

# Condition
if CGPA >= 3.0:
  print("Good student. Keep it up!")
else:
  print("Work Harder!!!")

Please Enter Your GPA: 3.5
Good student. Keep it up!

**Using if-elif-else (Multiple Conditions)**

In [10]:
# Taking marks input from user
marks = int(input("Please enter your marks: "))

# Multiple conditions
if marks >= 90:
    print("Grade: A. You did great!")
elif marks >= 80:
    print("Grade: B. Keep it up!")
elif marks >= 70:
    print("Grade: C. Work Harder!")
else:
    print("Grade: Fail. Please repeat your courses!")

Please enter your marks: 67
Grade: Fail. Please repeat your courses!

In [11]:
# Taking marks input from user

marks = input("Please enter your marks: ")

# Taking 3 fixed variables
execellentMarks = 100
goodMarks = 70
averageMarks = 60

# Condition
# We are changing marks from str to int here instead of doing it while taking input
if(int(marks) == execellentMarks):
  print("Great Student")

elif(int(marks) > goodMarks):
  print("Good Student")

elif(int(marks) > averageMarks):
  print("Average Student")

else:
  print("Fail")

Please enter your marks: 88
Good Student

## Nested if

If it's a holiday, check whether it's raining or sunny.

In [12]:
# Taking input from user and converting it to lower case

holiday = input("Is it a holiday today? (yes/no): ").lower()

# Condition
if holiday == "yes":
    weather = input("What's the weather like right now? (rainy/sunny): ").lower()

# Another if condition
    if weather == "rainy":
        print("Stay home and watch a movie!")
    elif weather == "sunny":
        print("Go out and enjoy the sun!")
    else:
        print("Enjoy your day however you like!")

 # If not a holiday display this statement
else:
    print("Get ready for your work!")

Is it a holiday today? (yes/no): yes
What's the weather like right now? (rainy/sunny): snowing
Enjoy your day however you like!

# **Loops**
A loop lets you repeat a block of code as many times as needed.

**for loop** â€“ Repeats a block of code for each item in a sequence (like a list, string, or range).  
ðŸ‘‰ Example: `for i in range(5): print(i)`

**while loop** â€“ Repeats a block of code **as long as** a condition is true.  
ðŸ‘‰ Example: `while x < 5: print(x); x += 1`

In [14]:
# While Loop
# Setting index 1 for variable i
num = 1

# Loop
while num<=10:
  print(num)

# i = i+1
  num += 1

1
2
3
4
5
6
7
8
9
10

In [18]:
# Another WHILE Example
# Setting the password
password = "78666"
attempt = ""

# Condition
while attempt != password:
    attempt = input("Please enter your password: ")
    if attempt != password:
        print("Wrong Password. Please try again!")

print("Access Granted Successfully!")

Please enter your password: 12344
Wrong Password! Please try again
Please enter your password: 78666
Access Granted!

In [20]:
# For loop
# Taking a num variable
num = 0

# Using for loop
for i in range(num, 65, 10):
  if (i == 20):
    continue;
  if (i == 50):
    break;
  print(i)

0
10
30
40