 #  Variables
1. Create a variable `name` to store your name and `age` to store your age. Print them in a
 sentence.

In [2]:
# Creating variables

name = "Noor"
age = 24

# Printing them in a sentence
print(f"My name is {name} and my age is {age}!")

My name is Noor and my age is 24!

2. Swap the values of two variables `x` and `y` without using a third variable

In [4]:
# Creating 2 variables x and y
x = 4
y = 8

# Printing their values
print("Value of x: ", x )
print("Value of y: ", y )
print()

x, y = y, x

# Printing their new values
print("Value of x: ", x )
print("Value of y: ", y )

Value of x:  4
Value of y:  8

Value of x:  8
Value of y:  4

#   Operators
1. Write a program that takes two numbers from the user and prints their sum, difference, product,
 and quotient.

In [8]:
# Taking two numbers from user
x = int(input(" Please enter the first number: "))
y = int(input(" Please enter the second number: "))
print()

# Addition, subtraction, multiplication and quotient
addition = x + y
subtraction = x - y
multiplication = x * y
quotient = x // y

# Printing them
print(f"The sum of {x} and {y} is {addition}")
print(f"The difference of {x} and {y} is {subtraction}")
print(f"The multiplication of {x} and {y} is {multiplication}")
print(f"The quotient of {x} and {y} is {quotient}")

 Please enter the first number: 13
 Please enter the second number: 5

The sum of 13 and 5 is 18
The difference of 13 and 5 is 8
The multiplication of 13 and 5 is 65
The quotient of 13 and 5 is 2

2. Check if a number entered by the user is even or odd using the modulo (%) operator.

In [11]:
# Taking input from user
num = int(input("Please enter a number: "))

# Condition for checking if number is even or odd
if num % 2 == 0:
  print(f"{num} is even!")
else:
  print(f"{num} is odd!")

Please enter a number: 4
4 is even!

#  Conditions
1. Write a program to check if a person is eligible to vote (age ≥ 18).

In [13]:
# Taking age from the user
age = int(input("Please enter your age: "))

# Applying condition to check if eligible for voting
if age >= 18:
    print("You are eligible to vote.")
else:
    print("You are not eligible to vote.")

Please enter your age: 14
You are not eligible to vote.

2. Ask the user for a number and check: - If it’s positive - If it’s negative - If it’s zero

In [17]:
# Taking number from user
num = int(input("Please enter a number: "))

# Condition to check if its +, - or 0
if num == 0:
  print(f"{num} is zero!")
elif num > 0:
  print(f"{num} is positive!")
else:
  print(f"{num} is negative!")

Please enter a number: -17
-17 is negative!

# Loops
1. Print numbers from 1 to 10 using a `for` loop.

In [18]:
# Printing numbers using for loop

for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

2. Print the multiplication table of any number entered by the user.

In [23]:
# Taking number from the user
number = int(input("Please enter a number: "))

# for loop for generating table
for i in range(1, 11):
  print(f"{number} × {i} =", number * i)

Please enter a number: 9
9 × 1 = 9
9 × 2 = 18
9 × 3 = 27
9 × 4 = 36
9 × 5 = 45
9 × 6 = 54
9 × 7 = 63
9 × 8 = 72
9 × 9 = 81
9 × 10 = 90

3. Write a program that sums all numbers from 1 to n (user input) using a loop

In [32]:
# Take a number from user
number = int(input("Enter a number: "))
total = 0

# Condition for printing from 1 to number
for i in range(1, number+1):
    total += i

# Printing sum of all numbers
print(f"Sum of numbers from 1 to {number} is :" , total)

Enter a number: 7
Sum of numbers from 1 to 7 is : 28

# Functions
1. Write a function `greet(name)` that prints 'Hello, !'.

In [34]:
# Creating a greet() function
def greet(name):
   print(f"Hello, {name}!")

# Assigning the value
greet("Noor")

Hello, Noor!

2. Write a function `is_prime(n)` that returns True if the number is prime, otherwise False

In [42]:
# A function to check if the value is prime
def is_prime(n):
  if n < 2:
        return False

  for i in range(2, n):
        if n % i == 0:
            return False

  return True

# Checking
print(is_prime(8))
print(is_prime(7))
print(is_prime(11))

False
True
True

# Lists
1. Create a list of 5 fruits and print the second and last fruit.

In [47]:
# Creating a list of 5 fruits
fruits = ["Banana", "Apple", "Mango", "Watermelon", "Grapes"]

# Printing the second and last fruit
print("First fruit in the list: ", fruits[0])
print("Last fruit in the list: ", fruits[-1])

First fruit in the list:  Banana
Last fruit in the list:  Grapes

2. Add a new fruit to the list, then remove the first fruit from the list.

In [56]:
# Creating a list of 5 fruits
fruits = ["Banana", "Apple", "Mango", "Watermelon", "Grapes"]
print("Original List: ", fruits)
print()

# Adding new fruit to the list and removing the last fruit
fruits.append("Peach")
print("Updated List after adding Peach: ", fruits)
print()

fruits.remove(fruits[-1])
print("Updated List after removing last Fruit: ", fruits)

Original List:  ['Banana', 'Apple', 'Mango', 'Watermelon', 'Grapes']

Updated List after adding Peach:  ['Banana', 'Apple', 'Mango', 'Watermelon', 'Grapes', 'Peach']

Updated List after removing last Fruit:  ['Banana', 'Apple', 'Mango', 'Watermelon', 'Grapes']

3. Find the maximum and minimum number in a list of integers.

In [59]:
# Making a list of integers

nums = [1, 4, 7, 5, 9, 0]

# Finding Max and Min number in list
print("Maximum Numbr in list: ", max(nums))
print("Minimum Numbr in list: ", min(nums))

Maximum Numbr in list:  9
Minimum Numbr in list:  0

#   Dictionary
1. Create a dictionary with keys: 'name', 'age', 'city' and store your details. Print the dictionary.

In [63]:
# Making a dictionary
person = {
    "name": "Noor",
    "age": 25,
    "city": "Rawalpindi"
}

# Printing the dictionary
print("Dictionary:", person)

Dictionary: {'name': 'Noor', 'age': 25, 'city': 'Rawalpindi'}

2. Add a new key 'country' to the dictionary.

In [64]:
# Making a dictionary
person = {
    "name": "Noor",
    "age": 25,
    "city": "Rawalpindi"
}

# Adding new key 'country' to the dictionary
person["country"] = "Pakistan"

# Printing the dictionary
print("Dictionary:", person)

Dictionary: {'name': 'Noor', 'age': 25, 'city': 'Rawalpindi', 'country': 'Pakistan'}

3. Write a program to count the frequency of each character in a string and store the result in a dictionary.

In [66]:
# Taking input from user
text = input("Enter a string: ")
result = {}       # To store characters in dictionary

for char in text:
    if char in result:
        result[char] += 1
    else:
        result[char] = 1

print(result)

Enter a string: noorulhuda
{'n': 1, 'o': 2, 'r': 1, 'u': 2, 'l': 1, 'h': 1, 'd': 1, 'a': 1}

#  Set
1. Create two sets of numbers and: - Find their union - Find their intersection - Find the difference between them

In [68]:
# Creating two sets of numbers
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Finding Union
union_sets = set1 | set2
print("Union of Two Sets:", union_sets)
print()

# Finding Intersection
intersection_sets = set1.intersection(set2)
print("Intersection of Two Sets:", intersection_sets)
print()

# Finding Difference
difference_sets = set1.difference(set2)
print("Difference of Two Sets:", difference_sets)

Union of Two Sets: {1, 2, 3, 4, 5, 6, 7, 8}

Intersection of Two Sets: {4, 5}

Difference of Two Sets: {1, 2, 3}

2. Write a program to remove duplicates from a list using a set

In [72]:
# Creating a list
myList = [1, 2, 3, 4, 5, 3, 4, 1, 9]
print("List with Duplicates: ", myList)

# Removing duplicates by using list
mySet = set(myList)

# Changing back to list
myList = list(mySet)
print("List without Duplicates: ", myList)

List with Duplicates:  [1, 2, 3, 4, 5, 3, 4, 1, 9]
List without Duplicates:  [1, 2, 3, 4, 5, 9]

#  Tuples
1. Create a tuple with at least 5 numbers and print the first and last elements.

In [74]:
# Creating a tuple with atleast 5 numbers
myTuple = (1, 2, 6, 4, 5, 8, 9)

# Printing the first and last element
print("First Element in Tuple: ", myTuple[0])
print("Last Element in Tuple: ", myTuple[-1])

First Element in Tuple:  1
Last Element in Tuple:  9

2. Write a program to check if a given element exists in a tuple.

In [77]:
# Creating a tuple of fruits
fruits = ("Banana", "Apple", "Mango", "Watermelon", "Grapes")

# Condition for membership
if "Watermelon" in fruits:
    print("Watermelon is in the tuple!")
else:
    print("Watermelon is not in the tuple!")

Watermelon is in the tuple!

#  Exception Handling
1. Write a program to divide two numbers, but handle the ZeroDivisionError.

In [80]:
# Making the try statements
try:
  num1 = int(input("Please enter the numerator: "))
  num2 = int(input("Please enter the denominator: "))
  result = num1 / num2
  print("Division of two numbers: ", result)

except ZeroDivisionError:
  print("Division by zero is not allowed!")

Please enter the numerator: 9
Please enter the denominator: 0
Division by zero is not allowed!

2. Write a program that asks for a number from the user, and handles the case when the user enters something that is not a number (ValueError)

In [81]:
# Making the try statements
try:
  num = int(input("Please enter the numerator: "))
  print("You entered: ", num)

except ValueError:
  print("You entered a non-numeric value!")

Please enter the numerator: noor
You entered a non-numeric value!